# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [32]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [33]:
path=r"C:\Users\Intel NUC\OneDrive\++Tec Data Analytics Bootcamp\HWKS"
api_keys=os.path.join(path,r'api_keys.py')

def read_key(api_keys):
    api_keys_file = open(api_keys,"r")
    g_key= api_keys_file.readline().rstrip()
    return g_key

g_key=read_key(api_keys)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [36]:
file='../output_data/cities.csv'
cities_df=pd.read_csv(file)
cities_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Mataura,93,NZ,1603598556,92,-46.19,168.86,12.22,2.24
1,Lagoa,94,PT,1603598556,71,39.05,-27.98,17.92,7.47
2,Sinazongwe,22,ZM,1603598557,39,-17.26,27.46,24.40,0.91
3,Jamestown,90,US,1603598428,86,42.10,-79.24,4.44,2.35
4,Ushuaia,75,AR,1603598442,65,-54.80,-68.30,7.00,4.10
...,...,...,...,...,...,...,...,...,...
565,Kushiro,75,JP,1603598793,44,42.98,144.37,14.00,4.10
566,Mocuba,0,MZ,1603598794,83,-16.84,36.99,21.25,0.57
567,Cantaura,66,VE,1603598795,90,9.31,-64.36,23.06,3.28
568,Pacific Grove,90,US,1603598795,82,36.62,-121.92,16.00,2.10
569,Vanderhoof,0,CA,1603598404,91,54.02,-124.02,-8.83,1.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [48]:
# Configure gmaps
gmaps.configure(api_key=g_key)

In [47]:
# Store latitude and longitude in locations
locations = cities_df[["Lat", "Lng"]]

In [50]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=cities_df["Humidity"], 
                                 dissipating=False, max_intensity=20,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [96]:
ideal_weather_cities=cities_df.loc[cities_df["Max Temp"]>22,:]
ideal_weather_cities=ideal_weather_cities.loc[cities_df["Max Temp"]<40,:]
ideal_weather_cities=ideal_weather_cities.loc[cities_df["Wind Speed"]<3,:]
hotel_df=ideal_weather_cities.loc[cities_df["Cloudiness"]==0,:]
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
15,Ambilobe,0,MG,1603598425,56,-13.20,49.05,25.39,2.29
28,Yanam,0,IN,1603598565,62,16.73,82.22,29.00,2.60
36,Saint-Philippe,0,RE,1603598568,47,-21.36,55.77,25.00,2.60
231,Alenquer,0,BR,1603598639,88,-1.94,-54.74,25.00,1.00
243,Manacapuru,0,BR,1603598643,100,-3.30,-60.62,24.00,0.50
246,Cabo San Lucas,0,MX,1603598354,77,22.89,-109.91,27.78,0.45
348,ChlÃ³rakas,0,CY,1603598684,43,34.80,32.41,22.22,2.60
369,Saint-Pierre,0,RE,1603598696,47,-21.34,55.48,25.00,2.60
406,Gaoual,0,GN,1603598717,80,11.75,-13.20,23.24,0.86
433,Muscat,0,OM,1603598541,64,23.61,58.59,23.00,1.50
453,Fuerte Olimpo,0,PY,1603598739,72,-21.04,-57.87,25.61,1.72
490,Ramnagar,0,IN,1603598757,37,29.40,79.12,25.92,0.22
506,Abu Dhabi,0,AE,1603598582,33,24.47,54.37,24.00,2.10
528,Boa Vista,0,BR,1603598740,66,2.82,-60.67,29.00,2.10

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [102]:
hotel_df["Hotel Name"]=""
hotel_df.head()

<ipython-input-102-4d73128b2a6d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"]=""

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
15,Ambilobe,0,MG,1603598425,56,-13.20,49.05,25.39,2.29,
28,Yanam,0,IN,1603598565,62,16.73,82.22,29.00,2.60,
36,Saint-Philippe,0,RE,1603598568,47,-21.36,55.77,25.00,2.60,
231,Alenquer,0,BR,1603598639,88,-1.94,-54.74,25.00,1.00,
243,Manacapuru,0,BR,1603598643,100,-3.30,-60.62,24.00,0.50,

In [ ]:


# 3. Find the name and address of a bike store in Seattle, Washington.
#    Hint: See https://developers.google.com/places/web-service/supported_types
target_type = "hotels"
seattle_coords = "47.6062095, -122.3320708"
radius = 5000

params = {
    "location": seattle_coords,
    "types" : target_type,
    "radius": radius,
    "key": gkey
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

response = requests.get(base_url, params=params)

In [128]:
hotels_google

'Mexico City'

In [126]:
# hotels_google=hotel_df["City"]
# hotels_google=hotel_df["City"].tolist()
hotels_google="Mexico City"

for x in range(len(hotels_google)):
    target = hotels_google[x]
    params={
    "address": target,
    "key":g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    response = requests.get(base_url, params=params)

    x = response.json()

    print(x)
#     lat = x["results"][0]["geometry"]["location"]["lat"]
#     lon = x["results"][0]["geometry"]["location"]["lng"]

#     print(f"lat: {lat}, lon: {lon}")

{'results': [{'address_components': [{'long_name': 'Coffeyville', 'short_name': 'Coffeyville', 'types': ['locality', 'political']}, {'long_name': 'Montgomery County', 'short_name': 'Montgomery County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Kansas', 'short_name': 'KS', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '67337', 'short_name': '67337', 'types': ['postal_code']}], 'formatted_address': 'Coffeyville, KS 67337, USA', 'geometry': {'location': {'lat': 37.0373074, 'lng': -95.61636639999999}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 37.0386563802915, 'lng': -95.6150174197085}, 'southwest': {'lat': 37.0359584197085, 'lng': -95.6177153802915}}}, 'place_id': 'ChIJhemlZ1iEt4cRsvUzDpMKp8c', 'plus_code': {'compound_code': '29PM+WF Coffeyville, KS, USA', 'global_code': '869629PM+WF'}, 'types': ['establishment', 'point_of_interest', 'store']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'United States', 'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417}, 'southwest': {'lat': 18.7763, 'lng': 170.5957}}, 'location': {'lat': 37.09024, 'lng': -95.712891}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94}, 'southwest': {'lat': 25.82, 'lng': -124.39}}}, 'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw', 'types': ['country', 'political']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'East Regal Court', 'short_name': 'E Regal Ct', 'types': ['route']}, {'long_name': 'Tulsa', 'short_name': 'Tulsa', 'types': ['locality', 'political']}, {'long_name': 'Tulsa County', 'short_name': 'Tulsa County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Oklahoma', 'short_name': 'OK', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '74133', 'short_name': '74133', 'types': ['postal_code']}], 'formatted_address': 'E Regal Ct, Tulsa, OK 74133, USA', 'geometry': {'location': {'lat': 36.0119016, 'lng': -95.88467059999999}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 36.0132505802915, 'lng': -95.8833216197085}, 'southwest': {'lat': 36.01055261970851, 'lng': -95.8860195802915}}}, 'place_id': 'ChIJCYQLRxaOtocRbMjbR5blJN4', 'plus_code': {'compound_code': '2468+Q4 Tulsa, OK, USA', 'global_code': '86862468+Q4'}, 'types': ['establishment', 'point_of_interest']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'United States', 'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417}, 'southwest': {'lat': 18.7763, 'lng': 170.5957}}, 'location': {'lat': 37.09024, 'lng': -95.712891}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94}, 'southwest': {'lat': 25.82, 'lng': -124.39}}}, 'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw', 'types': ['country', 'political']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': '1418', 'short_name': '1418', 'types': ['street_number']}, {'long_name': 'South Walnut Street', 'short_name': 'S Walnut St', 'types': ['route']}, {'long_name': 'Coffeyville', 'short_name': 'Coffeyville', 'types': ['locality', 'political']}, {'long_name': 'Montgomery County', 'short_name': 'Montgomery County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Kansas', 'short_name': 'KS', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '67337', 'short_name': '67337', 'types': ['postal_code']}, {'long_name': '6639', 'short_name': '6639', 'types': ['postal_code_suffix']}], 'formatted_address': '1418 S Walnut St, Coffeyville, KS 67337, USA', 'geometry': {'location': {'lat': 37.0274461, 'lng': -95.6159948}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.0287950802915, 'lng': -95.6146458197085}, 'southwest': {'lat': 37.0260971197085, 'lng': -95.6173437802915}}}, 'place_id': 'ChIJK6y88_CEt4cRF-lNiXpsLDo', 'plus_code': {'compound_code': '29GM+XJ Coffeyville, KS, USA', 'global_code': '869629GM+XJ'}, 'types': ['establishment', 'liquor_store', 'point_of_interest', 'store']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'United States', 'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417}, 'southwest': {'lat': 18.7763, 'lng': 170.5957}}, 'location': {'lat': 37.09024, 'lng': -95.712891}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94}, 'southwest': {'lat': 25.82, 'lng': -124.39}}}, 'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw', 'types': ['country', 'political']}], 'status': 'OK'}
{'results': [], 'status': 'ZERO_RESULTS'}
{'results': [{'address_components': [{'long_name': '1418', 'short_name': '1418', 'types': ['street_number']}, {'long_name': 'South Walnut Street', 'short_name': 'S Walnut St', 'types': ['route']}, {'long_name': 'Coffeyville', 'short_name': 'Coffeyville', 'types': ['locality', 'political']}, {'long_name': 'Montgomery County', 'short_name': 'Montgomery County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Kansas', 'short_name': 'KS', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '67337', 'short_name': '67337', 'types': ['postal_code']}, {'long_name': '6639', 'short_name': '6639', 'types': ['postal_code_suffix']}], 'formatted_address': '1418 S Walnut St, Coffeyville, KS 67337, USA', 'geometry': {'location': {'lat': 37.0274461, 'lng': -95.6159948}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.0287950802915, 'lng': -95.6146458197085}, 'southwest': {'lat': 37.0260971197085, 'lng': -95.6173437802915}}}, 'place_id': 'ChIJK6y88_CEt4cRF-lNiXpsLDo', 'plus_code': {'compound_code': '29GM+XJ Coffeyville, KS, USA', 'global_code': '869629GM+XJ'}, 'types': ['establishment', 'liquor_store', 'point_of_interest', 'store']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}], 'formatted_address': 'United States', 'geometry': {'bounds': {'northeast': {'lat': 71.5388001, 'lng': -66.885417}, 'southwest': {'lat': 18.7763, 'lng': 170.5957}}, 'location': {'lat': 37.09024, 'lng': -95.712891}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 49.38, 'lng': -66.94}, 'southwest': {'lat': 25.82, 'lng': -124.39}}}, 'place_id': 'ChIJCzYy5IS16lQRQrfeQ5K5Oxw', 'types': ['country', 'political']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'Coffeyville', 'short_name': 'Coffeyville', 'types': ['locality', 'political']}, {'long_name': 'Montgomery County', 'short_name': 'Montgomery County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Kansas', 'short_name': 'KS', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '67337', 'short_name': '67337', 'types': ['postal_code']}], 'formatted_address': '2422 CR 4500, Coffeyville, KS 67337, USA', 'geometry': {'location': {'lat': 37.0373005, 'lng': -95.6163665}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 37.0386494802915, 'lng': -95.6150175197085}, 'southwest': {'lat': 37.0359515197085, 'lng': -95.61771548029151}}}, 'place_id': 'ChIJ1zg3nmSFt4cRTdcNofMpUug', 'plus_code': {'compound_code': '29PM+WF Coffeyville, KS, USA', 'global_code': '869629PM+WF'}, 'types': ['clothing_store', 'establishment', 'point_of_interest', 'store']}], 'status': 'OK'}
{'results': [{'address_components': [{'long_name': 'U.S. 54', 'short_name': 'US-54', 'types': ['route']}, {'long_name': 'Andover', 'short_name': 'Andover', 'types': ['locality', 'political']}, {'long_name': 'Bruno Township', 'short_name': 'Bruno Township', 'types': ['administrative_area_level_3', 'political']}, {'long_name': 'Butler County', 'short_name': 'Butler County', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Kansas', 'short_name': 'KS', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'United States', 'short_name': 'US', 'types': ['country', 'political']}, {'long_name': '67002', 'short_name': '67002', 'types': ['postal_code']}], 'formatted_address': '1115 E, US-54, Andover, KS 67002, USA', 'geometry': {'location': {'lat': 37.6785663, 'lng': -97.12335700000001}, 'location_type': 'GEOMETRIC_CENTER', 'viewport': {'northeast': {'lat': 37.6799152802915, 'lng': -97.12200801970852}, 'southwest': {'lat': 37.6772173197085, 'lng': -97.12470598029152}}}, 'place_id': 'ChIJi8aJes3-uocRMDowMex1CxA', 'plus_code': {'compound_code': 'MVHG+CM Andover, KS, USA', 'global_code': '8694MVHG+CM'}, 'types': ['amusement_park', 'establishment', 'gym', 'health', 'point_of_interest']}], 'status': 'OK'}

In [ ]:


target = "TecnolÃ³gico Monterrey"
params={
    "address": target,
    "key":gkey
}

base_url = "https://maps.googleapis.com/maps/api/geocode/json"

response = requests.get(base_url, params=params)

seattle = response.json()

lat = seattle["results"][0]["geometry"]["location"]["lat"]
lon = seattle["results"][0]["geometry"]["location"]["lng"]

print(f"lat: {lat}, lon: {lon}")

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map